:root{
  --color-principal: #008fee;
}
/* Bolha: #11a0ff */
/* *{
  font-family: cursive;
} */


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bg-blue{
  background: #008fee;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
.color-blue{
  color: #008fee;
}

.bg-bolha{
  background: var(--color-principal) url(../images/blob.svg) no-repeat;
  background-size: contain;
  background-position-x: 1.1rem;
  background-position-y: 5rem;
  max-width: 375px;
  margin: auto;
}

.bg-principal{
  background-color: var(--color-principal) !important;
}

#palestrante{
  padding-top: 150px;
    margin-top: -135px;
}

.carousel-caption {
  bottom: 8rem !important;
}


.navbar-nav{
  padding: 6px;
}
.navbar-nav .nav-item .nav-link{
  color: #fff;
  padding: 3px 5px;
}
.navbar-nav .nav-item .nav-link.active{
  border-bottom: 2px solid #9cd6fd;
}

/* .carousel-caption h1{
  font-size: 2.5rem !important;
  text-align: left !important;
} */
.carousel-caption p{
  color: rgb(236, 236, 236);
  font-size: 16px;
}




@media (min-width: 600px){
  .bg-bolha{
    background: var(--color-principal) url(../images/blob.svg) no-repeat;
    background-size: 37rem;
    background-position-x: 2.5rem;
    background-position-y: -4.4rem;
    max-width: 600px;
  }

  .carousel-caption .e-title{
    font-size: 7rem !important;
    padding: 0;
    position: absolute;
    top: -8px;
    left: 8px;
  }

  .carousel-caption h1{
    font-size: 2.5rem !important;
    padding-left: 63px;
    margin-bottom: -3px;
    margin-top: -3px;
    text-align: left !important;
  }
  .carousel-caption p{
    font-size: 1.25rem !important;
    margin-top: 8px;
    text-align: left;
    padding: 0 19px;
  }


  
}

@media (min-width: 942px){
  .bg-bolha{
    background: var(--color-principal) url(../images/blob.svg) no-repeat;
    background-size: 50rem;
    background-position-x: 7.5rem;
    background-position-y: -15.9rem;
    max-width: 942px;
  }
  .carousel-caption h1{
    font-size: 2.8rem !important;
    padding-left: 170px;
    margin-bottom: -3px;
    margin-top: -3px;
    text-align: left !important;
  }
  .carousel-caption p{
    font-size: 1.35rem !important;
    margin-top: 8px;
    text-align: left;
    padding: 0 118px;
  }
  .carousel-caption {
    bottom: 8rem !important;
  }

  .carousel-caption .e-title {
    font-size: 7.5rem !important;
    padding: 0;
    position: absolute;
    top: -5px;
    left: 110px;
  }
}



@media (max-width: 600px){
  .carousel-caption{
    width: 300px;
    left: 50% !important;
    transform: translateX(-50%);
    padding-left: 10px;
  }
  /* .carousel-caption h1 {
    font-size: 1.8rem !important;
    padding-left: 36px;
    margin-bottom: -3px;
    margin-top: -3px;
    text-align: left !important;
  } */
  .carousel-caption h1 {
    font-size: 1.8rem !important;
    /* padding-left: 36px; */
    /* margin-bottom: 0; */
    /* margin-top: -10px; */
    text-align: left !important;
    margin: 0;
  }

  .carousel-caption p {
    font-size: 1rem !important;
    margin-top: 8px;
    text-align: left;
    padding: 0 2px;
  }
  .bg-bolha{
    background: var(--color-principal) url(../images/blob.svg) no-repeat;
    background-size: 26rem;
    background-position-x: -0.6rem;
    background-position-y: 4rem;
    max-width: 375px;
    margin: auto;
    position: relative;
  }

  .carousel-caption .e-title {
    /* font-size: 5rem !important;
    padding: 0;
    margin: 0;
    line-height: 1; */
    font-size: 4.9rem !important;
    padding: 0;
    margin: 0;
    margin-bottom: -2px;
    line-height: 1;
  }
  #palestrante{
    padding-top: 150px;
    margin-top: -130px;
  }
}

@media (max-width: 365px){
  .carousel-caption{
    width: 300px;
    left: 50% !important;
    transform: translateX(-50%);
    padding-left: 22px;
    bottom: 9rem !important;
  }
  /* .carousel-caption h1 {
    font-size: 1.6rem !important;
    padding-left: 36px;
    margin-bottom: -3px;
    margin-top: -3px;
    text-align: left !important;
  } */
  .carousel-caption h1 {
    font-size: 1.6rem !important;
    /* padding-left: 36px; */
    margin-bottom: 0;
    /* margin-top: -10px; */
    text-align: left !important;
  }

  .carousel-caption p {
    font-size: 1rem !important;
    margin-top: 8px;
    text-align: left;
    padding: 0 20px 0px 6px;
  }
  .bg-bolha{
    background: var(--color-principal) url(../images/blob.svg) no-repeat;
    background-size: 26rem;
    background-position-x: -1.3rem;
    background-position-y: 3.5rem;
    max-width: 350px;
  }

  .carousel-caption .e-title {
    font-size: 4rem !important;
    padding: 0;
    /* position: absolute;
    top: 12px;
    left: 22px; */
    margin-bottom: -2px;
  }
  #palestrante{
    padding-top: 150px;
    margin-top: -130px;
  }
}





/*---------------------- Backup ------------------------ */
