
.line-1, .line-2, .line-3, .line-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.line-1 { -webkit-line-clamp: 1; }
.line-2 { -webkit-line-clamp: 2; }
.line-3 { -webkit-line-clamp: 3; }
.line-4 { -webkit-line-clamp: 4; }

.divider:last-child { display: none; }